html {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 16px;
	display: flex;
	flex-direction: column;
}

header {
	position: absolute;
	height: 58px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
}

main {
	flex: 1 0 auto;
}

footer {
	display: flex;
	justify-content: space-between;

	font-size: 14px;
	font-weight: 500;
	position: absolute;
	border-top: 1px solid #000;
	height: 118px;
	width: 100%;
	bottom: 0;
	left: 0
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
	font-size: 40px;
}

.right_side {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 75px;
}

.logo_container {
	margin-left: 75px;
}


.flex_1 {
	margin-left: 26px;
}

#burger_menu {
	margin-left: 26px;

	writing-mode: vertical-lr;
	text-align: center;
	width: 37px;
	height: 37px;
	border: 1px solid #000;
	border-radius: 50%;
	color: #000;
	cursor: pointer;
	user-select: none;
	outline: none;
}

#burger_menu::before,
#burger_menu::after {
  position: relative;
  top: 0;
  left: 0;
}

#burger_menu::before {
  content: "";
}

#burger_menu::after {
  content: "III";
  letter-spacing: 1px;
  vertical-align: middle;
  left: 5px;
  top: 1px;
}

.information {
	flex-wrap: wrap;
	width: 472px;
	height: 70px;
	margin: 10px 0 10px 100px;
}

.contacts {
	margin: 20px 100px 0 0;
	width: 228px;
	height: 47px;
	justify-content: flex-end;
	align-content: center;
}

.contacts p {
	margin: 1px 0;
}

.soc_media {
	margin-top: 8px;
}

.soc_media img {
	width: 27px;
	height: 27px;
}

.soc_media a {
	margin-right: 4px;
}

.soc_media a:last-child {
	margin-right: 0;
}
