*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 16px;
	display: flex;
	flex-direction: column;
	overflow: none;
}

main {
	flex: 1 0 auto;
}

button {
	background-color: transparent;
	border: 1px solid #000;
}

a {
	color: black;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

h1, h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
	font-size: 40px;
}

/* Header */

header {
	height: 58px;
	border-bottom: 1px solid #000;
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.right_side {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 75px;
}

.logo_container {
	margin-left: 75px;
}


.flex_1 {
	margin-left: 26px;
}

.menu {
	left: 0;
	height: 25px;
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #000;
}

.left_menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	vertical-align: center;
	margin-left: 500px;
	margin-right: 300px;
}

/* Header End */

/* Slider */

.slider_container {
	height: 450px;
}

.content {
	opacity: 0;
	transition: opacity .6s;
	pointer-events: none;
}

.content_1, .content_2, .content_3 {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 450px;
}

.slider_photo img{
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	filter: blur(6px);
}

.slider_text_container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.slider_text_container p {
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.33);
}


.slider_header {
	font-size: 108px;
}

.slider_text {
	margin-top: -20px;
	font-size: 72px;
	align-self: center;	
}


.slider_switches {
	margin-top: 20px;
	display: flex;

	justify-content: center;
}

.point {
	width: 26px;
	height: 26px;
	background: transparent;
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 32px;
	pointer-events: auto;
}

#i_1, #i_2, #i_3 {
	margin: 0 auto;
	width: 0;
	height: 0;
	opacity: 0;
}

#i_1:checked ~ .slider_container .content_1,
#i_2:checked ~ .slider_container .content_2,
#i_3:checked ~ .slider_container .content_3 {
	height: 450px;
	opacity: 1;
	pointer-events: auto;

}

.slider_switches label {
	color: #000;
	transition-duration: .6s;
	cursor: pointer;
}

#i_1:checked ~ .slider_switches label[for="i_1"],
#i_2:checked ~ .slider_switches label[for="i_2"],
#i_3:checked ~ .slider_switches label[for="i_3"] {
	background-color: #000;
}


/* Slider End */

/* Best Things */

.best_things_inner {
	margin: auto;
	margin-top: 20px;
	width: 1232px;
	height: 452px;


	justify-content: center;
}

.best_things_header {
	font-size: 32px;
	margin-bottom: 20px;
}

.best_things_container {
	display: flex;
	width: 1231px;
	justify-content: space-between;
}

.best_container {
	margin-top: 10px;
	width: 347px;
	height: 392px;
	left: 350px;
	top: 700px;

	background: #FFFFFF;
	box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.best_1 {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
}

.best_photo {
	align-self: center;
}

.best_info {
	width: 100%;
	border-bottom: 1px solid #000;
	height: 67px;
	font-size: 32px;
	display: flex;
	justify-content: space-between;
}

.best_info p {
	margin: 0 20px;
	align-self: center;
}

.buttons_best {
	display: flex;
	justify-content: space-around;
}

.bin_best, .buy_best {
	background: #fff;
	border: 0;
	font-size: 32px;
	line-height: 16px;
	cursor: pointer;
	outline: none;
}

.bin_best {
	width: 197px;
	height: 76px;
}

.buy_best {
	width: 150px;
	border-right: 1px solid #000;
}

/* Slider End */

/* Footer */

footer {
	display: flex;
	justify-content: space-between;

	font-size: 14px;
	font-weight: 500;
	border-top: 1px solid #000;
	height: 118px;
	width: 100%;
	bottom: 0;
	left: 0
}

.information {
	flex-wrap: wrap;
	width: 472px;
	height: 70px;
	margin: 10px 0 10px 100px;
}

.contacts {
	margin: 20px 100px 0 0;
	width: 228px;
	height: 47px;
	justify-content: flex-end;
	align-content: center;
}

.contacts p {
	margin: 1px 0;
}

.soc_media {
	margin-top: 8px;
}

.soc_media img {
	width: 27px;
	height: 27px;
}

.soc_media a {
	margin-right: 4px;
}

.soc_media a:last-child {
	margin-right: 0;
}

/* Footer End */

/* Buy Page */

.buy_1_container {
	display: flex;
	margin-top: 20px;
	margin-left: 350px;
	margin-bottom: 248px;

	background: #FFFFFF;
}
.buy_1 {
	margin-top: 32px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
	height: 473px;
	width: 394.25;
}
.buy_kofta {
	width: 394.25px;
	height: 473px;
	align-self: center;
}
.name_price {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	margin-left: 44px;
	font-size: 64px;
	display: flex;
	justify-content: space-between;
}
.description {
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin-left: 44px;
	font-size: 24px;
	line-height: 28.18px;
}
.resale {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-left: 44px;
	font-size: 24px;
	display: flex;
}

.resale p {
	margin: 0;
}
.resale_size {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-left: 44px;
	display: flex;
}
.size_button {
	display: flex;
	margin-top: 8px;
	margin-left: 122px;
	width: 402px;
	height: 62px;
}

.size_button button {
	height: 62px;
	width: 63.5px;
	border-right: 0;
	border-left: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 32px;
}

.size_button button:last-child {
	border-right: 1px solid #000;
	width: 84.5px;
}

.size_button button:first-child {
	border-left: 1px solid #000;
}
.buy_buy {
	width: 292px;
	height: 74px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-left: 309px;
	margin-top: 20px;
}

.edem_za_pivom {
	margin-left: 99px;
}
.trash_can {
	width: 292px;
	height: 74px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin-left: 309px;
	margin-top: 20px;
}

/* Buy Page End */

/* Bin Page */

.bin_container {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.bin_things_container {
	margin-left: 215px;
}

.bin_thing {
	display: flex;
	height: 202px;
	margin-top: 20px;
}

.bin_thing:first-child {
	margin-top: 0;
}

.bin_thing_desc {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 32px;
	line-height: 1;
}

.bin_thing_desc p {
	margin-top: 10px;
}

.bin_photo {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 27px 21px;
}

.bin_overall {
	display: flex;
	flex-direction: column;
	margin-right: 215px;
	margin-top: 20px;
}

.make_order {
	align-self: flex-end;
	margin-top: 92px;
}

.make_order button {
	font-size: 24px;
	width: 300px;
	height: 55px;
}

.bin_overall h1 {
	align-self: flex-end;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 57px;
}

.delete_button {
	width: 218px;
	height: 55px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	margin-left: 20px;
	align-self: flex-end;
}

/* Bin Page End */
