/* media */

@media screen and (min-width: 1821px) {
  h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 40px;
  }
  body {
	font-size: 20px;
  }
  header{
	height: 58px;
  }
  .left_menu{
	margin-left: 30%;
	margin-right: 15%;
  }
  .slider_header {
	font-size: 105px;
  }
  .slider_text{
	font-size: 72px;
  }
  .slider_photo img{
	height: 450px;
  }
  .point {
	width: 26px;
	height: 26px;
	margin-right: 32px;
  }
  .content_1, .content_2, .content_3 {
	height: 450px;
  }
  .slider_container {
	height: 450px;
  }
  .menu {
	height: 25px;
	margin-top: 10px;
  }
  .things{
	  width: 62%
  }
  .things_container{
	flex-wrap: wrap;
	justify-content: space-around;
  }
  .name_price{
	font-size: 64px;
  }
  .description{
	font-size: 24px;
  }
  
  footer{
	 font-size: 14px;
  }
}

@media screen and (min-width: 1580px) and (max-width: 1821px){
   h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 40px;
  }
  body {
	font-size: 20px;
  }
  header{
	height: 58px;
  }
  .left_menu{
	margin-left: 30%;
	margin-right: 15%;
  }
  .slider_header {
	font-size: 105px;
  }
  .slider_text{
	font-size: 72px;
  }
  .slider_photo img{
	height: 450px;
  }
  .point {
	width: 26px;
	height: 26px;
	margin-right: 32px;
  }
  .content_1, .content_2, .content_3 {
	height: 450px;
  }
  .slider_container {
	height: 450px;
  }
  .menu {
	height: 25px;
	margin-top: 10px;
  }
  .things{
	  width: 65%
  }
  .things_container{
	flex-wrap: wrap;
	justify-content: space-around;
  }
  footer{
	 font-size: 14px;
  }
  .name_price{
	font-size: 64px;
  }
  .description{
	font-size: 24px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1579px) {
   h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 40px;
  }
  body {
	font-size: 20px;
  }
  header{
	height: 58px;
  }
  .left_menu{
	margin-left: 30%;
	margin-right: 15%;
  }
  .slider_header {
	font-size: 105px;
  }
  .slider_text{
	font-size: 72px;
  }
  .slider_photo img{
	height: 450px;
  }
  .point {
	width: 26px;
	height: 26px;
	margin-right: 32px;
  }
  .content_1, .content_2, .content_3 {
	height: 450px;
  }
  .slider_container {
	height: 450px;
  }
  .menu {
	height: 25px;
	margin-top: 10px;
  }
  .things{
	  width: 80%
  }
  .things_container{
	flex-wrap: wrap;
	justify-content: space-around;
  }
  footer{
	 font-size: 14px;
  }
  .name_price{
	font-size: 64px;
  }
  .description{
	font-size: 24px;
  }
}


@media screen and (min-width: 1000px) and (max-width: 1399px){
   h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 40px;
  }
  body {
	font-size: 20px;
  }
  header{
	height: 58px;
  }
  .left_menu{
	margin-left: 30%;
	margin-right: 15%;
  }
  .slider_header {
	font-size: 105px;
  }
  .slider_text{
	font-size: 72px;
  }
  .slider_photo img{
	height: 450px;
  }
  .point {
	width: 26px;
	height: 26px;
	margin-right: 32px;
  }
  .content_1, .content_2, .content_3 {
	height: 450px;
  }
  .slider_container {
	height: 450px;
  }
  .menu {
	height: 25px;
	margin-top: 10px;
  }
  .things{
	  width: 80%
  }
  .things_container{
	flex-wrap: wrap;
	justify-content: space-around;
  }
  footer{
	 font-size: 14px;
  }
  .name_price{
	font-size: 42px;
  }
  .description{
	font-size: 20px;
  }
}

@media screen and (min-width: 509px) and (max-width: 999px) {
   h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 20px;
  }
  body {
	font-size: 15px;
  }
  header{
	height: 40px;
  }
  .left_menu{
	margin-left: 15%;
	margin-right: 10%;
  }
  .slider_header {
	font-size: 50px;
  }
  .slider_text{
	font-size: 45px;
  }
  .slider_photo img{
	height: 200px;
  }
  .point {
	width: 19px;
	height: 19px;
	margin-right: 32px;
  }
  .content_1, .content_2, .content_3 {
	height: 200px;
  }
  .slider_container {
	height: 200px;
  }
  .menu {
	height: 25px;
	margin-top: 10px;
  }
  .things{
	width: 90%
  }
  .things_container{
	flex-direction: row;
	width: 100%;
  }
  footer{
	 font-size: 14px;
  }
  .name_price{
	font-size: 24px;
  }
  .description{
	font-size: 16px;
  }
}

@media screen and (max-width: 508px) and (min-width: 360px){
   h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 15px;
  }
  body {
	font-size: 10px;
  }
  header{
	height: 25px;
  }
  .left_menu{
	margin-left: 4%;
	margin-right: 8%;
  }
  .slider_header {
	font-size: 35px;
  }
  .slider_text{
	font-size: 30px;
  }
  .slider_photo img{
	height: 150px;
  }
  .point {
	width: 10px;
	height: 10px;
	margin-right: 24px;
  }
  .content_1, .content_2, .content_3 {
	height: 150px;
  }
  .slider_container {
	height: 150px;
  }
  .menu {
	height: 20px;
	margin-top: 5px;
  }
  .things_container{
	flex-direction: column;
	width: 100%;
  }
  .description{
	font-size: 16px;
  }
  .name_price{
	font-size: 24px;
  }
}

@media screen and (max-width: 359px) and (min-width: 299px){
   h1 a {
	font-family: 'Syne', sans-serif;
	font-weight: 800;
	margin: 0;
    font-size: 13px;
  }
  body {
	font-size: 9px;
  }
  header{
	height: 25px;
  }
  .left_menu{
	margin-left: 4%;
	margin-right: 8%;
  }
  .slider_header {
	font-size: 30px;
  }
  .slider_text{
	font-size: 25px;
  }
  .slider_photo img{
	height: 150px;
  }
  .point {
	width: 10px;
	height: 10px;
	margin-right: 24px;
  }
  .content_1, .content_2, .content_3 {
	height: 150px;
  }
  .slider_container {
	height: 150px;
  }
  .menu {
	height: 20px;
	margin-top: 5px;
  }
  .things_container{
	flex-direction: column;
	width: 100%;
  }
  footer{
	font-size: 8px;
  }
  .information{
	  margin-right: 12px;
  }
  .description{
	font-size: 16px;
  }
  .name_price{
	font-size: 24px;
  }
  .buy_buttons{
	justify-content: center;
  }
}
/* media */
